<div class="px-4 md:px-16">
    <div class="breadcrumb">
        <a class="px-2" [routerLink]="['/']">Home</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
        </svg>
        <a class="px-2" [routerLink]="['/sales']">Sales</a>
    </div>
    <h1 class="px-2 py-1 mb-8 text-4xl font-black font-mono">Sales</h1>
    <div
        class="font-sans text-2xl border-t-2 border-b-2 h-20 sticky z-50 bg-white px-16 flex flex-row items-center justify-between">
        <div class="flex flex-initial items-center text-center">
            Filter by Gender
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </div>
        <div class="flex flex-initial items-center text-center">
            Filter by Size
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </div>
        <div class="flex flex-initial items-center text-center">
            Filter by Color
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 x-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </div>
    </div>
    <div class="card__collection clear-fix pt-8">
        <div class="cards cursor-pointer" *ngFor="let item of items$ | async" [routerLink]="item.id.toString()">
            <img [attr.src]="item.img" class="w-full h-auto" alt="">
            <span class="cards__rect-1">
                <span class="shadow-1">
                    <p>{{item.label}}</p>
                </span>
            </span>
            <span class="cards__rect-2">
                <span class="shadow-2">
                    <p>{{item.newPrice}} $</p>
                    <!--
                    <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer h-16 w-16" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                    </svg>
                    -->
                </span>
            </span>
            <span class="cards__rect-3">
                <span class="shadow-1">
                    <p>-{{item.promotion}}%</p>
                </span>

            </span>
            <span class="cards__rect-4">
                <span class="shadow-2">
                    <p class="line-through">{{item.price}} $</p>
                </span>
            </span>
        </div>
    </div>
</div>